body{
  background-image: url("./back.png");
  background-size: cover;
}

$pixels: 16px;

@function px-rems($px) {
  @return $px/$pixels+rem;
}

html{
  font-family: Montserrat;
}

a{
  text-decoration: none;

}

*{
  margin: 0;
  padding: 0;
}

.header{
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  height: 2rem;

  &-nav{
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.45s;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-top: 1rem;

    a{
      color: #FFFFFF;
      text-align: right;
      margin-bottom: 0.5rem;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  &-btn{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 0.5rem;
    justify-content: space-between;
    transition: 0.3s;
    width: 1.5rem;
    cursor: pointer;
    &__item{
      position: absolute;
      width: 1.5rem;
      height: 0.3rem;
      background: #000000;
      border-radius: 5px;
      transition: 0.3s;
      &:last-child{
        top: 0.5rem;
      }
    }
  }
}



.dark-back{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.73);
  z-index: -1;
}

.container{
  width: 60rem;
  background: #FFFFFF;

  height: 100vh;
  margin: 0 auto;
  z-index: 2;
}

.enter{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &-choise{
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    padding: 1rem;
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    a{
      color: #000000;
      font-weight: 500;
      transition: 0.2s;
      &:hover{
        transform: scale(1.1);
        transition: 0.2s;

      }
    }
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    height: auto;
    label{
      margin-bottom: 0.5rem;
    }
    input{
      margin-bottom: 1rem;
      width: calc(100% - 1rem);
      background: rgba(0, 0, 0, 0.1);
      border: 0;
      border-left: px-rems(1.3px) solid #1F1f1f;
      padding: 0.5rem;
      outline: none;
      &:last-child{
        margin-bottom: 0;
      }
    }
    button{

      padding: 0.3rem 1rem;
      background: #00D1FF;
      border: 0;
      border-radius: 0.3rem;
      color: #FFFFFF;
      font-weight: 500;
      cursor: pointer;
      transition: 0.2s;
      &:hover{
        filter: brightness(0.95);
        transition: 0.2s;
      }
    }
  }
}

h2{
  font-weight: 400;
  margin-left: 1rem;
}

table{
  width: 100%;
  padding: 0 1rem;
  td{
    text-align: center;
  }
  thead{
    tr{

      td{
        font-weight: 600;
      }
    }
  }
  tr{
    height: px-rems(60px);
  }
}

#moderation{
  h2{

    margin-bottom: 2rem;
  }
  table{
    width: 30.5%;
    thead{
      tr{
        td{
          &:nth-child(1){
            width: 5rem;
          }
          &:nth-child(2){
            width: 12rem;
            padding-left: 2rem;
          }
          &:nth-child(3){
            padding-left: 1.5rem;
          }
        }
      }
    }
  }
  form{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;

    margin-left: 1rem;
    input{
      width: 3rem;

    }
    button{
      margin-left: 1rem;
      border: 0;
      background: #00D1FF;
      padding: 0.3rem;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 0.8rem;
      border-radius: 0.3rem;
    }
    p{
      text-align: center;
      &:nth-child(1){
        width: 3rem;
        font-weight: 500;
      }
      &:nth-child(2){
        width: 10rem;
      }
    }
  }
}







